.modal-box {
    background-color:rgb(0, 216, 7);
    color: white;
    border-radius: 1rem;
    position: fixed;
    padding: 2rem;
    width: 14rem;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
}